{% extends "blog_base.html" %}
{% block navbarhead %}
<a class="blog-nav-item active" href="/">Home</a>
{% if user.username == 'alanlee' or user.username == 'admin' %}
<a class="blog-nav-item" href="/post/">Post</a>
{% endif %}
<a class="blog-nav-item" href="/about/">About</a>
{% endblock %}

{% block navbar%}
{% if user.username == 'None' %}
        <form class="navbar-form navbar-right navbar-top" role="form" action="/login/" method="post">{% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Username" name='username' class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name='password' class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
{% else %}
        <form class="navbar-form navbar-right navbar-top" role="form">
            <div class="form-group">
                 <span class="label label-primary">Welcome! {{user}}</span>
                 <a href="/logout/" class="btn btn-success" role="button">Logout</a>
            </div>
        </form>
{% endif %}
{% endblock %}

{% block head %}
         <h1 class="blog-title">Welcome to Alan Blog</h1>
         <p class="lead blog-description">Nothing special, just record my whiskey history.</p>
{% endblock %}

{% block main%}
 {% for post in blogs %}
<div class="blog-post">
     <p class="blog-post-title">{{ post.title }} </p>
     <p class="blog-post-meta">{{ post.published_date }} by <a href="#">{{post.author}}</a></p>
     <p> {{ post.body|safe|truncatewords:"6"|linebreaks }}</p>
     {% if post.docfile %}
    <div class="row">
        <div class="col-sm-3">
             <p><img class="img-thumbnail" src="{{ post.docfile.url }}" alt="{{ post.docfile.name }}"></p>
        </div>
    </div>
     {% endif %}
     <p>
     <a class="btn btn-default" href="/blogs/get/{{post.id}}/comment/" role="button">Comments<span class="badge">{{post.comment_set.all.count}}</span></a>
     <a class="btn btn-default" href="/blogs/get/{{post.id}}/" role="button">View details &raquo;</a>
     </p>
</div><!-- /.blog-post -->
 {% endfor %}
{% endblock %}
            

