{% extends "blog_base.html" %}
{% block navbarhead %}
<a class="blog-nav-item" href="/">Home</a>
<a class="blog-nav-item active" href="/post/">Post</a>
<a class="blog-nav-item" href="/about/">About</a>
{% endblock %}
{% block navbar %}
        <form class="navbar-form navbar-right navbar-top" role="form">
            <div class="form-group">
                 <span class="label label-primary">Welcome! {{user}}</span>
                 <a href="/logout/" class="btn btn-success" role="button">Logout</a>
            </div>
        </form>
{% endblock %}

{% block head %}
         <p class="lead blog-description">Add Post</p>
{% endblock %}

{% block main %}
             <form enctype="multipart/form-data" role="form" method='post' action='/post/'>{% csrf_token %}
                <div class='form-group'>
                     {{form}}
                </div>
                <button type='sumbit' class="btn btn-success col-sm-3">Save</button>
             </form>
{% endblock %}
